---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&include_rts=true&screen_name=mpak999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="tJJYWYTUSP7bkZDHqBlwRKsOS", oauth_nonce="16120a59a53f73d5fe796840e08aee37",
        oauth_signature="MT256Xn7CeE23d0p4p5pQQAMkxA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1426437099", oauth_token="18864603-F7rHSKLRh5d19MsCGW3xrnlxGHccDkmiF5DNOpqxI",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 15 Mar 2015 16:31:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9861a9bce96215862d471667943522b1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '171'
      X-Rate-Limit-Reset:
      - '1426437283'
      X-Response-Time:
      - '367'
      X-Transaction:
      - b739055b17facde2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sun Mar 15 15:50:34 +0000 2015","id":577134805277503488,"id_str":"577134805277503488","text":"@mikashkin
        \u0441\u0434\u0435\u043b\u0430\u043b \u0443\u0436\u043e :)","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":577134734288916480,"in_reply_to_status_id_str":"577134734288916480","in_reply_to_user_id":5466502,"in_reply_to_user_id_str":"5466502","in_reply_to_screen_name":"mikashkin","user":{"id":18864603,"id_str":"18864603","name":"MpaK","screen_name":"mpak999","location":"Koh
        Samui, Thailand","profile_location":null,"description":"Full Stack Ruby Developer,
        Design4Underground metal bands, music & movies fan","url":"http:\/\/t.co\/JhxAEjVfSp","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/JhxAEjVfSp","expanded_url":"http:\/\/www.mrak7.com","display_url":"mrak7.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":844,"friends_count":787,"listed_count":84,"created_at":"Sun
        Jan 11 11:48:37 +0000 2009","favourites_count":516,"utc_offset":21600,"time_zone":"Ekaterinburg","geo_enabled":true,"verified":false,"statuses_count":15833,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/427262802\/sands.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/427262802\/sands.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/438245837957627904\/r_emBJU4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/438245837957627904\/r_emBJU4_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18864603\/1423556588","profile_link_color":"D02B55","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"mikashkin","name":"Mikhail
        Kashkin","id":5466502,"id_str":"5466502","indices":[0,10]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"ru"},{"created_at":"Sun
        Mar 15 15:22:25 +0000 2015","id":577127718476627968,"id_str":"577127718476627968","text":"Try
        to test #twitter API","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":18864603,"id_str":"18864603","name"[...]
